language: php

php:
  - 5.4
  - 5.5
  - 5.6

sudo: false

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

install:
  - composer self-update
  - git clone -q --depth=1 https://github.com/phalcon/cphalcon.git -b phalcon-v2.0.7
  - (cd cphalcon/ext; export CFLAGS="-g3 -O1 -fno-delete-null-pointer-checks -Wall"; phpize &> /dev/null && ./configure --silent --enable-phalcon &> /dev/null && make --silent -j4 > /dev/null && make --silent install && phpenv config-add ../unit-tests/ci/phalcon.ini &> /dev/null)
  - php -r 'echo \Phalcon\Version::get()."\n";'
  - composer install --prefer-source --no-interaction

script:
  - vendor/bin/phpcs --standard=PSR2 --report=emacs --extensions=php --warning-severity=0 src/
  - vendor/bin/codecept build
  - vendor/bin/codecept run

notifications:
  email:
    - serghei@phalconphp.com
